<div class="page">
  @if (book) {
    <div class="form-card">
      <div class="form-header">
        <h2>Detalhe do Livro</h2>
        <p>Consulta toda a informação do livro ou edita os seus dados.</p>
      </div>

      @if (!isEditing) {
        <div class="detail-view">
          <p><strong>Título:</strong> {{ book.title }}</p>
          <p><strong>Autor:</strong> {{ book.author }}</p>
          <p><strong>Género:</strong> {{ book.genre }}</p>
          <p><strong>Estado:</strong> {{ book.status | statusLabel }}</p>
          <p><strong>Rating:</strong> ⭐ {{ book.rating }}</p>

          <button class="btn-primary" type="button" (click)="enableEdit()">Editar</button>
        </div>
      }

      @if (isEditing) {
        <form [formGroup]="form" class="form-grid" (ngSubmit)="saveBook()">
          <input class="input" type="text" formControlName="title" placeholder="Título" />
          <input class="input" type="text" formControlName="author" placeholder="Autor" />
          <input class="input" type="text" formControlName="genre" placeholder="Género" />

          <select class="input" formControlName="status">
            <option value="TO_READ">Por ler</option>
            <option value="READING">A ler</option>
            <option value="READ">Lido</option>
          </select>

          @if (form.get('status')?.value === 'READ') {
            <input class="input" type="number" formControlName="rating" min="1" max="5" placeholder="Rating (1 a 5)"/>
          }

          @if (form.touched && form.invalid) {
            <div class="error-box">
              Preenche todos os campos antes de guardar.
            </div>
          }

          <div class="form-actions">
            <button class="btn-primary" type="submit">Guardar</button>
            <button class="btn-secondary" type="button" (click)="cancelEdit()">Cancelar</button>
          </div>
        </form>
      }
    </div>
  }
</div>